/* HTML / Body */

html[data-theme="light"] {
    font-family: 'Noto Sans', sans-serif;    
    --background-color: #e6e8ee;
    --primary-color: rgb(16, 16, 16);
    --hover-color: #29AB87;
    --hover-color-two: #878aa2;
    --footer-color: #d8dbe1;
} 
html[data-theme="dark"] {
    font-family: 'Noto Sans', sans-serif;    
    --background-color: #16161d;
    --primary-color: #878aa2;
    --hover-color: #7c377a;
    --hover-color-two: #5f6272;
    --footer-color: #1d1d26;
}
* {
    box-sizing: border-box;
  }
body {
    background-color: var(--background-color);
}

/* Header */

header {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    grid-auto-rows: 80px;
    white-space: nowrap;
    border: solid;
    border-width: 0 0 2px 0;
    border-color: var(--primary-color);
    margin-top:  -8px;
} 
@media (max-width: 1050px) {
    header {
        grid-template-columns: 1fr;
    }
}
header > div {
    align-self: center;
    justify-self: center;
}
h1 {
    position: relative;
    padding: .2rem;
    padding-left: .3rem;
    padding-right: .3rem;
}
h1 > a {
    text-decoration: none;
    color: var(--primary-color);
    font-weight: 700.0;
}
h1 > a::before { 
    transform: scaleX(0);
    transform-origin: bottom right;
}
h1 > a:hover::before {
    transform: scaleX(1);
    transform-origin: bottom left;
}
h1 > a::before {
    content: " ";
    display: block;
    position: absolute;
    top: 0; right: 0; bottom: 0; left: 0;
    inset: 0 0 0 0;
    background: var(--hover-color);
    z-index: -1;
    transition: transform .3s ease;
}
ul {
    margin-left: -20px;
}
ul > li {
    display: inline-block;
    font-size: 1.3rem;
    padding: 1.3rem;
}
li > a {
    text-decoration: none;
    color: var(--primary-color);
    font-weight: 600.0;
}
li:hover {
    transform: scale(1.075);
    transition: 200ms transform ease-in-out;
}
li > a:hover {
    color: var(--hover-color-two);
}

/* Dark Mode */

.toggle {
    font-family: 'Source Code Pro', monospace;
    font-size: 30px;
    line-height: 1.3;
    color: var(--primary-color);
    background: none;
    padding: 16px 30px;
    cursor: pointer;
    border: none;    
    transition: 200ms transform ease-in-out;
    vertical-align: middle;
    font-weight: 600.0;
  }
.toggle:hover {
    transform: scale(1.075);
    color: var(--hover-color);
}

/*  Main */

main {
    display: grid;
    grid-template-columns: 2fr 3fr 3fr 2fr;
    column-gap: 1rem;
    row-gap: 8rem;
    white-space: normal;
}
main > div {
    margin-top: 8rem;
    align-self: center;
    justify-self: center;
    padding-left: 1rem;
    padding-right: 1rem;
}
#me {
    grid-column-start: 2;
    grid-column-end: 2;
}
#description-me {
    grid-column-start: 3;
    grid-column-end: 3;
    font-size: 1.3rem;
    text-align: center;
    color: var(--primary-color);
}
#portrait {
    border-radius: 50%;
    height: 20rem;
    width: 20rem;
}
#read-more {
    text-decoration: none;
    color: var(--primary-color);
}
a > .read-more {
    font-size: 18px;
}
.read-more {
    background: none;
    border: 2px solid;
    font: inherit;
    line-height: 1;
    margin: -1em;
    padding: .5em 1em;
    cursor: pointer;
    border-color: var(--primary-color);
    color: var(--primary-color);
    transition: 0.25s;
}
.read-more:hover, .read-more:focus {
    border-color: var(--hover-color);
    color: var(--hover-color);
    animation: pulse 1s;
    box-shadow: 0 0 0 1em transparent;
}
@keyframes pulse {
    0% {
        box-shadow: 0 0 0 0 var(--hover-color);
   }
}
  

/* Carousel */

.slideshow {
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 2;
    grid-row-end: 2;
    margin-top: 8rem;
    padding-left: 1rem;
    padding-right: 1rem;
    grid-row-start: 2;
    max-width: 1000px;
    position: relative;
    margin: auto;
    align-self: center;
    justify-self: center;
}
.slide {
    display: none;
}
.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
    margin-right: 16px;
}
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}
.prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
}
.numbertext {
    color: #f2f2f2;
    font-size: 14px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}

/* Footer */

footer {
    color: var(--primary-color);
    background-color: var(--footer-color);
    margin-left: -8px;
    margin-right: -8px;
    margin-bottom: -8px;
    margin-top: 8rem;
    display: grid;
    padding: 1rem;
    grid-template-columns: 1fr 3fr 1fr;
    font-size: 14px;
}
@media (max-width: 1050px) {
    footer {
        grid-template-columns: 1fr;
    }
}
.social {
    grid-column-start: 3;
    grid-column-end: 4;
    text-align: center;
}
#insta {
    margin-left: 1rem;
}
.copyright {
    text-align: center;
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 2;
}
html {
    visibility: visible;
    opacity: 1;
}