/* HTML / Body */

html[data-theme="light"] {
    font-family: 'Noto Sans', sans-serif;    
    --background-color: #e6e8ee;
    --primary-color: black;
    --hover-color: #29AB87;
    --hover-color-two: #878aa2;
    --footer-color: #d8dbe1;
    --hover-opacity: 60%;
} 
html[data-theme="dark"] {
    font-family: 'Noto Sans', sans-serif;    
    --background-color: #16161d;
    --primary-color: #878aa2;
    --hover-color: #7c377a;
    --hover-color-two: #5f6272;
    --footer-color: #1d1d26;
    --hover-opacity: 30%;
}
* {
    box-sizing: border-box;
  }
body {
    background-color: var(--background-color);
}
/* Header */

header {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    grid-auto-rows: 80px;
    white-space: nowrap;
    border: solid;
    border-width: 0 0 2px 0;
    border-color: var(--primary-color);
    margin-top:  -8px;
} 
@media (max-width: 1050px) {
    header {
        grid-template-columns: 1fr;
    }
}
header > div {
    align-self: center;
    justify-self: center;
}
h1 {
    position: relative;
    padding: .2rem;
    padding-left: .3rem;
    padding-right: .3rem;
}
h1 > a {
    text-decoration: none;
    color: var(--primary-color);
    font-weight: 700.0;
}
h1 > a::before { 
    transform: scaleX(0);
    transform-origin: bottom right;
}
h1 > a:hover::before {
    transform: scaleX(1);
    transform-origin: bottom left;
}
h1 > a::before {
    content: " ";
    display: block;
    position: absolute;
    top: 0; right: 0; bottom: 0; left: 0;
    inset: 0 0 0 0;
    background: var(--hover-color);
    z-index: -1;
    transition: transform .3s ease;
}
ul {
    margin-left: -20px;
}
ul > li {
    display: inline-block;
    font-size: 1.3rem;
    padding: 1.3rem;
}
li > a {
    text-decoration: none;
    color: var(--primary-color);
    font-weight: 600.0;
}
.link:hover {
    transform: scale(1.075);
    transition: 200ms transform ease-in-out;
}
li > a:hover {
    color: var(--hover-color-two);
}
.grey {
    color: var(--hover-color-two);
}

/* Dark Mode */

.toggle {
    font-family: 'Source Code Pro', monospace;
    font-size: 30px;
    line-height: 1.3;
    color: var(--primary-color);
    background: none;
    padding: 16px 30px;
    cursor: pointer;
    border: none;    
    transition: 200ms transform ease-in-out;
    vertical-align: middle;
    font-weight: 600.0;
  }
.toggle:hover {
    transform: scale(1.075);
    color: var(--hover-color);
}

/* Main */

.container {
    margin-top: 4rem;
    margin-bottom: -4rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 5rem;
    row-gap: 3.3rem;
    margin-left: 2rem;
    margin-right: 2rem;
    color: var(--primary-color);
}
a > img:hover {
    opacity: var(--hover-opacity)
}
.image {
    text-align: center;
}

/* Footer */

footer {
    color: var(--primary-color);
    background-color: var(--footer-color);
    margin-left: -8px;
    margin-right: -8px;
    margin-bottom: -8px;
    margin-top: 8rem;
    display: grid;
    padding: 1rem;
    grid-template-columns: 1fr 3fr 1fr;
    font-size: 14px;
}
.social {
    grid-column-start: 3;
    grid-column-end: 4;
    text-align: center;
}
#insta {
    margin-left: 1rem;
}
.copyright {
    text-align: center;
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 2;
}
html {
    visibility: visible;
    opacity: 1;
}