body {
    margin: 0;
    padding: 0;
    background-color: #212119;
    background-image: url(images/ezgif.com-video-to-gif.gif);
    background-size: cover;
    height: 100vh;
    width: 100vw;
}

#house-background {
    z-index: 10;
    position: absolute;
    width: 100vw;
    height: 100vh;
}

/* ~~~~~~~~~~~~~~~~ */
/* NAV AESTHETICISM */
/* ~~~~~~~~~~~~~~~~ */

#sliding-nav {
    width: 160px;
    height: 330px;
    padding-left: 10px;
    padding-right: 6px;
    z-index: 30;
    display: flex;
    flex-direction: column;
    position: absolute;
    left: 30px;
    top: 36px;
    font-family: 'Roboto Condensed', sans-serif;
    background-color: rgba(40,16,40, .2);
    border: 2px solid rgba(91, 82, 107, 1);
    overflow: hidden;
}

#sliding-nav-2 {
    width: 160px;
    height: 330px;
    padding-left: 10px;
    padding-right: 6px;
    z-index: 30;
    display: flex;
    flex-direction: column;
    position: absolute;
    left: 30px;
    top: 40px;
    font-family: 'Roboto Condensed', sans-serif;
    background-color: rgba(40,16,40, .2);
    border: 2px solid rgba(91, 82, 107, 1);
    overflow: hidden;
}

#sliding-nav-3 {
    width: 160px;
    height: 330px;
    padding-left: 10px;
    padding-right: 6px;
    z-index: 30;
    display: flex;
    flex-direction: column;
    position: absolute;
    left: 36px;
    top: 48px;
    font-family: 'Roboto Condensed', sans-serif;
    background-color: rgba(40,16,40, .3);
    border: 2px solid rgba(91, 82, 107, 1);
    overflow: hidden;
}

#nav {
    width: 166px;
    padding-left: 10px;
    padding-right: 6px;
    z-index: 40;
    display: flex;
    flex-direction: column;
    position: absolute;
    left: 24px;
    top: 30px;
    font-family: 'Roboto Condensed', sans-serif;
    font-family: 'VT323', monospace;
    background-color: rgba(40,16,40, .3);
    border: 2px solid rgba(91, 82, 107, 1);
    overflow: hidden;
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
}

h1 {
    font-size: 52px;
}

h2 {
    font-size: 38px;
}

h4 {
    font-size: 26px;
}

#nav > h1, h2, h4 {
    margin-top: 1px;
    margin-bottom: 1px;
    color: #F8FAED;
}

a {
    text-decoration: none;
    color: #F8FAED;
}

#current-page > a:visited {
    color: #F8FAED; 
}

h1 > a:hover {
    text-decoration: underline;
    padding-left: 3px;
}

h1 > a:visited {
    color: #F8FAED;
}

h2 > a:hover {
    text-decoration: underline;
    padding-left: 3px;
}

h2 > a:visited {
    color: #F8FAED;
}

h4 > a:hover {
    text-decoration: underline;
    padding-left: 3px;
}

h4 > #stay:hover {
    /* I have no clue why I need this here but not index.css... */
    text-decoration: none;
}

h4 > a:visited {
    color: #F8FAED;
}

h4 {
    margin-bottom: 8px;
}

.random {
    color: #f8faed;
    opacity: .4;
    cursor: not-allowed;
}

.random:hover {
    text-decoration: none;   
}

#current-page {
    color: #F8FAED;
    cursor: pointer;
    text-decoration: line-through;
    text-decoration-color: #F8FAED;
}

#current-page > h2 {
    color: #F8FAED;

}

/* ~~~~~ */
/* AMBER */
/* ~~~~~ */

#amber-container {
    z-index: 20;
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translate(-50%, 0);
    display: flex;
    align-items: baseline;
    opacity: 0;
    
}

#amber {
    height: 88vh;
}

/* ~~~~~~~~~~~~~~~~~~~~~~~ */
/* Content change handleing */
/* ~~~~~~~~~~~~~~~~~~~~~~~ */

.fadeOut {
    animation-name: fadeOut;
    animation-duration: .9s;
    animation-iteration-count: 1;
    animation-timing-function: cubic-bezier(.61,.1,.92,.56);
    animation-fill-mode: forwards;
}

@keyframes fadeOut {
    from {
      opacity: 1;
    }
    to {
        opacity: 0;
    }
}

.fadeIn {
    animation-name: fadeIn;
    animation-duration: .9s;
    animation-iteration-count: 1;
    animation-timing-function: cubic-bezier(.61,.1,.92,.56);
    animation-fill-mode: forwards;  
}

@keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
        opacity: 1;
    }
}

/* ----------- */
/* Popup Stuff */
/* ----------- */

#popup-container {
    z-index: 20;
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 62%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: rgb(243, 243, 238);
    overflow-y: hidden;
    overflow-x: hidden;
    border: solid 1.5px #9c9c9c; /* why does 1.5px actually show a difference and how is it half a pixel ..? */
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
    opacity: 0;
}

#popup {
    background-color: #CBC8C1;
    max-width: 440px;
    max-height: 215px;
    padding-top: 2px;
    border-top:solid 3px  #F8FAED;
    border-left: solid 3px #F8FAED;
    border-bottom:solid 3px #5A5B56;
    border-right:solid 3px #5A5B56;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}

#popup-header {
    cursor: default;
    width: 436px;
    height: 26px;
    margin-left: auto;
    margin-right: auto;
    background-image: linear-gradient(to right, #0E2769 , #ABC1DB);
    display: flex;
    flex-direction:row ;
    align-items: center;
    justify-content: space-between;
}

#popup-title {
    margin-left: 4px;
    font-weight: 600;
    font-size: 17px;
}

#popup-navbtn {
    margin-right: 4px;
    height: 18px;
    width: 18px;
    border-top:solid 1px  #F8FAED;
    border-left: solid 1px #F8FAED;
    border-bottom:solid 1px #5A5B56;
    border-right:solid 1px #5A5B56;
    background-color: #CBC8C1;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

#popup-navbtn:hover {
    background-color: #9c9c9c;
}

#popup-navbtn > p {
    padding-bottom: 1px;
    font-size: 22px;
    font-weight: 500;
    color: #7C7B77;
}

/* ~~~~~~~~~~~~~ */
/* Popup Content */
/* ~~~~~~~~~~~~~ */


.button-container {
    border: solid 1px #9c9c9c;
    box-sizing: border-box;
    padding-top: 5px;
    margin-left: 5px;
    margin-right: 5px;
}

.popup-button {
    min-width: 130px;
    border-radius: 0%;
    margin-top: -5px;
    padding-top: -5px;
    border-top:solid 1.5px  #F8FAED;
    border-left: solid 1.5px #F8FAED;
    border-bottom:solid 1.5px #5A5B56;
    border-right:solid 1.5px #5A5B56;
    background-color: #CBC8C1;
    cursor: pointer;
}

.popup-button > p {
    padding: 1px;
    border: dotted 1.5px transparent;
    margin-bottom: 3px;
    margin-top: 3px;
    font-size: 16px;
    color: #212119;
}

.popup-button:hover > p {
    border: dotted 1.5px gray;
}

#popup-content {
    color: #212119;
    cursor: default;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 234px;
    box-sizing: border-box;
    padding-top: 28px;
    padding-bottom: 58px; /* This is so jank, I wish I was sorry */
}

#popup-content-text {
    width: 85%;
    margin-left: auto;
    margin-right: auto;
}

#popup-content-text > p {
    margin-top: 0px;
    margin-bottom: 0px;
}

#popup-contentbtn {
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;

}

/* ~~~~~~~~~~~ */
/* popup changes */
/* ~~~~~~~~~~~ */

#intermission1 {
    display: none;
}

#intermission2 {
    display: none;
}

/* ~~~~~~~~~~~~~~ */
/* Amber Terminal */
/* ~~~~~~~~~~~~~~ */

#console-container {
    z-index: 30;
    display: none;
    flex-direction: column;
    position: absolute;
    top: 62%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow-y: hidden;
    overflow-x: hidden;
    border: solid 1.5px #9c9c9c; /* why does 1.5px actually show a difference and how is it half a pixel ..? */
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
}

#amber-term {
    background-color: transparent;
    width: 550px;
    height: 300px;
    padding-top: 0px;
    border-top:solid 3px  #F8FAED;
    border-left: solid 3px #F8FAED;
    border-bottom:solid 3px #5A5B56;
    border-right:solid 3px #5A5B56;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#amber-header {
    cursor: default;
    width: 546px;
    height: 26px;
    margin-left: auto;
    margin-right: auto;
    background-image: linear-gradient(to right, #0E2769 , #ABC1DB);
    display: flex;
    flex-direction:row ;
    align-items: center;
    justify-content: space-between;
}

#header-container {
    background-color: #CBC8C1;
    padding-top: 2px;
    padding-bottom: 2px;
    border-bottom:solid 3px #5A5B56;
}

#amber-content {
    font-family: 'Source Code Pro', monospace;
    color: rgb(243, 243, 238);
    font-size: 14px;
    cursor: default;
    display: flex;
    flex-direction: column;
    justify-content:space-between;
    height: 267px;
    box-sizing: border-box;
    background-color: rgba(40,16,40, .8);
}

#amber-reply > p {
    margin-top: 6px;
    margin-bottom: 4px;
    margin-left: 6px;
}

#your-reply {
    display: none;
    flex-direction: column;
    margin-bottom: 18px;
}

#your-reply > p {
    margin-left: 6px;
    margin-right: 6px;
    margin-bottom: -18px;
}

#your-reply > button {
    background-color: transparent;
    border: none;
    padding: 0;
    margin: 0;
    margin-top: 10px;
    margin-left: 6px;
    text-align: left;
    cursor: pointer;
    color: rgb(243, 243, 238);
    height: 20px;
}

#your-reply > button:hover {
    text-decoration: underline;
}

#amber-title {
    color: rgb(243, 243, 238);
    margin-left: 4px;
    font-weight: 600;
    font-size: 17px;
}

#amber-navbtn {
    margin-right: 4px;
    height: 18px;
    width: 18px;
    border-top:solid 1px  #F8FAED;
    border-left: solid 1px #F8FAED;
    border-bottom:solid 1px #5A5B56;
    border-right:solid 1px #5A5B56;
    background-color: #CBC8C1;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    opacity: 1;
}

#amber-navbtn:hover {
    background-color: #9c9c9c;
}

#amber-navbtn > p {
    padding-bottom: 1px;
    font-size: 22px;
    font-weight: 500;
    color: #7C7B77;
}

#amber-maxbtn {
    margin-right: 4px;
    height: 18px;
    width: 18px;
    border-top:solid 1px  #F8FAED;
    border-left: solid 1px #F8FAED;
    border-bottom:solid 1px #5A5B56;
    border-right:solid 1px #5A5B56;
    background-color: #CBC8C1;
    display: none;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    opacity: 0;
}

#amber-maxbtn:hover {
    background-color: #9c9c9c;
}

#amber-maxbtn > p {
    padding-bottom: 6px;
    font-size: 22px;
    font-weight: 500;
    color: #7C7B77;
}

/* ~~~~~~~~~~~~~ */
/* Amber changes */
/* ~~~~~~~~~~~~~ */

#intro1 {
    display: none;
}

#intro2 {
    display: none;
}

#intro3 {
    display: none;
}