body {
    margin: 0;
    padding: 0;
    background-color: #171716;
}

/* ---------------- */
/* Background Image */
/* ---------------- */

#introScreen {
    background-image: url(images/ezgif.com-video-to-gif.gif);
    background-size: cover;
    height: 100vh;
    width: 100vw;
}

#mountain-background {
    z-index: 10;
    position: absolute;
    width: 100vw;
    height: 100vh;
}

.unselectable {
    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
  }

/* ----------- */
/* Popup Stuff */
/* ----------- */

#popup-container {
    z-index: 20;
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: rgb(243, 243, 238);
    overflow-y: hidden;
    overflow-x: hidden;
    border: solid 1.5px #9c9c9c; /* why does 1.5px actually show a difference and how is it half a pixel ..? */
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
}

#popup {
    background-color: #CBC8C1;
    width: 460px;
    height: 230px;
    padding-top: 2px;
    border-top:solid 3px  #F8FAED;
    border-left: solid 3px #F8FAED;
    border-bottom:solid 3px #5A5B56;
    border-right:solid 3px #5A5B56;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}

#popup-header {
    cursor: default;
    width: 456px;
    height: 26px;
    margin-left: auto;
    margin-right: auto;
    background-image: linear-gradient(to right, #0E2769 , #ABC1DB);
    display: flex;
    flex-direction:row ;
    align-items: center;
    justify-content: space-between;
}

#popup-title {
    margin-left: 4px;
    font-weight: 600;
    font-size: 17px;
}

#popup-navbtn {
    margin-right: 4px;
    height: 18px;
    width: 18px;
    border-top:solid 1px  #F8FAED;
    border-left: solid 1px #F8FAED;
    border-bottom:solid 1px #5A5B56;
    border-right:solid 1px #5A5B56;
    background-color: #CBC8C1;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

#popup-navbtn:hover {
    background-color: #9c9c9c;
}

#popup-navbtn > p {
    padding-bottom: 1px;
    font-size: 22px;
    font-weight: 500;
    color: #7C7B77;
}

/* ~~~~~~~~~~~~~~~~~~~~~~~ */
/* Content change handling */
/* ~~~~~~~~~~~~~~~~~~~~~~~ */

.fadeOut {
    animation-name: fadeOut;
    animation-duration: 1s;
    animation-iteration-count: 1;
    animation-timing-function: cubic-bezier(.61,.1,.92,.56);
    animation-fill-mode: forwards;
}

@keyframes fadeOut {
    from {
      opacity: 1;
    }
    to {
        opacity: 0;
    }
}

.fadeIn {
    animation-name: fadeIn;
    animation-duration: 1s;
    animation-iteration-count: 1;
    animation-timing-function: cubic-bezier(.61,.1,.92,.56);
    animation-fill-mode: forwards;  
}

@keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
        opacity: 1;
    }
}

#pleaResponse {
    display: none;
}

/* ~~~~~~~~~~~~~ */
/* Popup Content */
/* ~~~~~~~~~~~~~ */


.button-container {
    border: solid 1px #9c9c9c;
    box-sizing: border-box;
    padding-top: 5px;
    margin-left: 5px;
    margin-right: 5px;
}

.popup-button {
    min-width: 130px;
    border-radius: 0%;
    margin-top: -5px;
    padding-top: -5px;
    border-top:solid 1.5px  #F8FAED;
    border-left: solid 1.5px #F8FAED;
    border-bottom:solid 1.5px #5A5B56;
    border-right:solid 1.5px #5A5B56;
    background-color: #CBC8C1;
    cursor: pointer;
}

.popup-button > p {
    padding: 1px;
    border: dotted 1.5px transparent;
    margin-bottom: 3px;
    margin-top: 3px;
    font-size: 16px;
    color: #212119;
}

.popup-button:hover > p {
    border: dotted 1.5px gray;
}

#popup-content {
    color: #212119;
    cursor: default;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 234px;
    box-sizing: border-box;
    padding-top: 28px;
    padding-bottom: 58px; /* This is so jank, I wish I was sorry */
}

#popup-content-text {
    width: 85%;
    margin-left: auto;
    margin-right: auto;
}

#popup-content-text > p {
    margin-top: 0px;
    margin-bottom: 0px;
}

#popup-contentbtn {
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;

}






/* ~~~~~~~~~ */
/* MAIN PAGE */
/* ~~~~~~~~~ */

#window-background {
    z-index: 10;
    position: absolute;
    width: 100vw;
    height: 100vh;
}

#our-house {
    position: absolute;
    right: 125px;
    bottom: 100px;
    width: 170px;
    z-index: 30;
}

#mainPage {

    display: none;
    opacity: 0;

    background-color: rgb(189, 189, 189);
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    z-index: 30;
    opacity: 0;

    background-image: url(images/ezgif.com-video-to-gif.gif);
    background-size: cover;
    height: 100vh;
    width: 100vw;
}

/* ~~~~~~~~~~~~~~~ */
/* MAIN NAV SYSTEM */
/* ~~~~~~~~~~~~~~~ */

#nav {
    z-index: 40;
    display: flex;
    flex-direction: column;
    position: absolute;
    left: 36px;
    top: 32px;
    font-family: 'VT323', monospace;
}

h1 {
    font-size: 52px;
}

h2 {
    font-size: 38px;
}

h4 {
    font-size: 26px;
}

#nav > h1, h2, h4 {
    margin-top: 1px;
    margin-bottom: 1px;
    color: #F8FAED;

}

a {
    text-decoration: none;
}

h2 > a:hover {
    text-decoration: underline;
    padding-left: 3px;
}

h2 > a:visited {
    color: #F8FAED;
}

h1, h2 > a:link {
    color: #F8FAED;
}



h4 {
    margin-bottom: 8px;
}

.random {
    color: #f8faed;
    opacity: .4;
    cursor: not-allowed;
}

#current-page {
    color: #F8FAED;
    cursor: pointer;
    text-decoration: line-through;
    text-decoration-color: #F8FAED;
}