body {
    margin: 0;
    padding: 0;
    background-color: #212119;
    background-image: url(images/ezgif.com-video-to-gif.gif);
    background-size: cover;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}

#house-background {
    z-index: 10;
    position: absolute;
    width: 100vw;
    height: 100vh;
}

/* IMAGES */



#door:hover {
    transform: scale(1.015);
}

#computer:hover {
    transform: scale(1.01);   
}

#door {
    z-index: 30;
    position: absolute;
    bottom: 0;
    right: 14vw;
    height: 60vh;
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
    cursor: pointer;
}

#computer {
    z-index: 30; 
    position: absolute;  
    bottom: 10vh;
    height: 26vh;
    left: 23vw;
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
    cursor: pointer;
}

/* ~~~~~~~~~~~~~~~~ */
/* NAV AESTHETICISM */
/* ~~~~~~~~~~~~~~~~ */

#sliding-nav {
    width: 160px;
    height: 330px;
    padding-left: 10px;
    padding-right: 6px;
    z-index: 30;
    display: flex;
    flex-direction: column;
    position: absolute;
    left: 30px;
    top: 36px;
    font-family: 'Roboto Condensed', sans-serif;
    background-color: rgba(40,16,40, .2);
    border: 2px solid rgba(91, 82, 107, 1);
    overflow: hidden;
}

#sliding-nav-2 {
    width: 160px;
    height: 330px;
    padding-left: 10px;
    padding-right: 6px;
    z-index: 30;
    display: flex;
    flex-direction: column;
    position: absolute;
    left: 30px;
    top: 40px;
    font-family: 'Roboto Condensed', sans-serif;
    background-color: rgba(40,16,40, .2);
    border: 2px solid rgba(91, 82, 107, 1);
    overflow: hidden;
}

#sliding-nav-3 {
    width: 160px;
    height: 330px;
    padding-left: 10px;
    padding-right: 6px;
    z-index: 30;
    display: flex;
    flex-direction: column;
    position: absolute;
    left: 36px;
    top: 48px;
    font-family: 'Roboto Condensed', sans-serif;
    background-color: rgba(40,16,40, .3);
    border: 2px solid rgba(91, 82, 107, 1);
    overflow: hidden;
}

#nav {
    width: 166px;
    padding-left: 10px;
    padding-right: 6px;
    z-index: 40;
    display: flex;
    flex-direction: column;
    position: absolute;
    left: 24px;
    top: 30px;
    font-family: 'Roboto Condensed', sans-serif;
    font-family: 'VT323', monospace;
    background-color: rgba(40,16,40, .3);
    border: 2px solid rgba(91, 82, 107, 1);
    overflow: hidden;
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
}

h1 {
    font-size: 52px;
}

h2 {
    font-size: 38px;
}

h4 {
    font-size: 26px;
}

#nav > h1, h2, h4 {
    margin-top: 1px;
    margin-bottom: 1px;
    color: #F8FAED;
}

a {
    text-decoration: none;
    color: #F8FAED;
}

#current-page > a:visited {
    color: #F8FAED; 
}

h1 > a:hover {
    text-decoration: underline;
    padding-left: 3px;
}

h1 > a:visited {
    color: #F8FAED;
}

h2 > a:hover {
    text-decoration: underline;
    padding-left: 3px;
}

h2 > a:visited {
    color: #F8FAED;
}

h4 > a:hover {
    text-decoration: underline;
    padding-left: 3px;
}

h4 > #stay:hover {
    /* I have no clue why I need this here but not index.css... */
    text-decoration: none;
}

h4 > a:visited {
    color: #F8FAED;
}

h4 {
    margin-bottom: 8px;
}

.random {
    color: #f8faed;
    opacity: .4;
    cursor: not-allowed;
}

.random:hover {
    text-decoration: none;   
}

#current-page {
    color: #F8FAED;
    cursor: pointer;
    text-decoration: line-through;
    text-decoration-color: #F8FAED;
}

#current-page > h2 {
    color: #F8FAED;

}

#moniter {
    z-index: 40;
    display: none;
    flex-direction: column;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow-y: hidden;
    overflow-x: hidden;
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
}

#screenframe {
    border: solid 22px #625172; 
    border-radius: 2%;
    background-color: #625172;
    display: flex;
    flex-direction: column;
}

#screen {
    background-color: #131114;
    border: #82748F 10px solid;
    border-bottom: #B1A7BA 18px solid;
    width: 380px;
    height: 400px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    border-radius: 1%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
}

h3 {
    font-size: 70px;
    font-weight: 900;
    color: #f8faed;
    margin-top: 12px;
    margin-bottom: 12px;

}

#power {
    height: 30px;
    width: 100%;
}

#off {
    cursor: pointer;
    margin-top: 12px;
    border-radius: 45%;
    height: 27px;
    width: 27px;
    border: #371E4B solid 1px;
    background-color: rgb(224, 202, 243);
}

#off:hover {
    background-color: rgb(178, 152, 202);
}

/* DOOR */

@keyframes horizontal-shaking {
    0% { 
        transform: translateX(0); 
    }
    25% { 
        transform: translateX(5px); 
    }
    50% { 
        transform: translateX(-5px); 
    }
    75% { 
        transform: translateX(4px);
    }
    100% { 
        transform: translateX(0); 
    }
   }

.shakes {
    animation: horizontal-shaking 0.25s;
}

/* ~~~~~~~~~~~ */
/* Fatal Popup */
/* ~~~~~~~~~~~ */

#plea{
    z-index: 30;
    display: none;
    flex-direction: column;
    position: absolute;
    bottom: 47px;
    right: 120px;
    color: rgb(243, 243, 238);
    overflow-y: hidden;
    overflow-x: hidden;
    border: solid 1.5px #9c9c9c; /* why does 1.5px actually show a difference and how is it half a pixel ..? */
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
}

.fatal-error {
    cursor: wait;
    background-color: #CBC8C1;
    width: 340px;
    height: 136px;
    padding-top: 2px;
    border-top:solid 3px  #F8FAED;
    border-left: solid 3px #F8FAED;
    border-bottom:solid 3px #5A5B56;
    border-right:solid 3px #5A5B56;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#fatal-header {
    cursor: default;
    width: 336px;
    height: 26px;
    margin-left: auto;
    margin-right: auto;
    background-image: linear-gradient(to right, #5d5962 , #b4a6c2);
    display: flex;
    flex-direction:row ;
    align-items: center;
    justify-content: space-between;
}

#fatal-title {
    margin-left: 4px;
    font-weight: 600;
    font-size: 17px;
}

#fatal-navbtn {
    margin-right: 4px;
    height: 18px;
    width: 18px;
    border-top:solid 1px  #F8FAED;
    border-left: solid 1px #F8FAED;
    border-bottom:solid 1px #5A5B56;
    border-right:solid 1px #5A5B56;
    background-color: #9c9c9c;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: wait;
}

#fatal-navbtn > p {
    padding-bottom: 1px;
    font-size: 22px;
    font-weight: 500;
    color: #7C7B77;
}

#fatal-content {
    color: #212119;
    cursor: default;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 99px;
    box-sizing: border-box;
    padding-top: 12px;
    padding-bottom: 12px;
}

#fatal-content-text {
    width: 85%;
    margin-left: auto;
    margin-right: auto;
}

#fatal-content-text > p {
    margin-top: 0px;
    margin-bottom: 0px;
}

#fatal-contentbtn {
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;

}

.button-container {
    border: solid 1px #9c9c9c;
    box-sizing: border-box;
    padding-top: 5px;
    margin-left: 5px;
    margin-right: 5px;
}

.popup-button {
    min-width: 130px;
    border-radius: 0%;
    margin-top: -5px;
    padding-top: -5px;
    border-top:solid 1.5px  #F8FAED;
    border-left: solid 1.5px #F8FAED;
    border-bottom:solid 1.5px #5A5B56;
    border-right:solid 1.5px #5A5B56;
    background-color: #CBC8C1;
    cursor: wait;
}

.popup-button > p {
    padding: 1px;
    border: dotted 1.5px transparent;
    margin-bottom: 3px;
    margin-top: 3px;
    font-size: 16px;
    color: #212119;
}

/* */


