@font-face {
    font-family: 'VT323';
    src: url('../fonts/VT323/VT323-Regular.ttf');
  }
  
@font-face {
    font-family: 'Martian_Mono';
    src: url('../fonts/Martian_Mono/static/MartianMono-Regular.ttf');
  }

body, html {
    margin: 0;
    padding: 0;
}

/* Cubes */

.cubeLeft {
    height: 2.2rem;
    width: 2.2rem;
    background-color: #B191FF;
    display: inline-block;
    z-index: 5;
}

.cubeLeft-pen {
    position: absolute;
    left: -2rem;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    z-index: 5;
}

.cubeLeft2 {
    height: 2.2rem;
    width: 2.2rem;
    background-color: #B191FF;
    display: inline-block;
    z-index: 5;
}

.cubeLeft-pen-2 {
    position: absolute;
    left: -2rem;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    z-index: 5;
}

/* */

.cubeRight {
    height: 2.2rem;
    width: 2.2rem;
    background-color: #B191FF;
    display: inline-block;
    z-index: 5;
}

.cubeRight-pen {
    position: absolute;
    left: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    z-index: 5;
}

.cubeRight2 {
    height: 2.2rem;
    width: 2.2rem;
    background-color: #B191FF;
    display: inline-block;
    z-index: 5;
}

.cubeRight-pen-2 {
    position: absolute;
    right: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    z-index: 5;
}

/* NAV */

#nav-container {
    position: absolute;
    z-index: 20;
    top: 1rem;
    background-color: #3C3C3C;
    width: 90vw;
    left: 50%;
    transform: translateX(-50%);
}

#nav {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    justify-content: space-between;
    z-index: 25;
}

#nav-right {
    display: flex;
    flex-direction: row;
    gap: 12px;
}

.nav-link > a:link, a:active, a:visited {
    text-decoration: none;
    color: #F5F5F5;
    font-family: 'VT323';
    font-size: 2.4rem;
}

#tess, #portfolio, #about {
    padding: 10px;
    display: inline-block;
    transform: perspective(1px) translateZ(0);
    position: relative;
    transition: color 0.25s;
    border-top: 5px solid #707070;
  }

  #tess {
    border-top: 5px solid #ECB9B8;
  }

  #tess:before, #portfolio:before, #about:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    background: #ECB9B8;
    opacity: .65;
    transform: scaleY(0);    transform-origin: 0 0;
    transition: transform 0.2s ease-out;
  }

  #tess:hover:before, #about:hover:before {
    transform: scaleY(1);
  }

  #portfolio:hover:before {
    transform: scaleY(1);
  }

  #portfolio:hover, #about:hover {
    border-top: 5px solid #ECB9B8;
  }

/* SLIDER */

#slider-container {
    height: 100vh;
    width: 100vw;
}

.slider {
    height: 100%;
    width: 100%;
}

/* SLIDE ONE */

#slide-1-container {
    height: 100vh;
    width: 100vw;
    background-color: #B99DFF;
    z-index: 5;
    position: relative;
}

#left-image {
    position: absolute;
    height: 100vh;
    width: auto;
    left: 0;
    z-index: 10;
}

#right-image {
    position: absolute;
    height: 100vh;
    width: auto;
    right: 0;
    z-index: 10;
}

#slide-1 {
    height: 100%;
    width: 100%;
    position: absolute;
    display: flex;
}

#intro-container {
    display: flex;
    flex-direction: row;
    margin: 25px;
    z-index: 20;
}

#intro-container > h1 {
    margin: 0;
    padding: 0;
}


#intro-line-1, #carrot {
    font-family: 'VT323';
    font-size: 4.8rem;
    color: #F5F5F5;
}

/* POPUP */

#popup-container {
    display: flex;
    flex-direction: column;
    border: 6px solid #ECB9B8;
    position: relative;
    z-index: 15;
    top: 32%;
    transform: translateY(-50%);
    left: 50%;
    transform: translateX(-50%);
    width: 635px;
    background-color: #3C3C3C;
}

#popup-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between; 
    align-items: center;   
    height: 32px;
    width: 100%;
    background-color: #ECB9B8;
    color: #b4879c;
    padding-bottom: 3px;
}

#resize {
    display: flex;
    flex-direction: row;
}

#resize-box {
    height: 20px;
    width: 20px;
    background-color: #f5cbca;
    border: 1.5px solid #b4879c;
    margin-left: 6px;
}