@font-face {
    font-family: 'VT323';
    src: url('../fonts/VT323/VT323-Regular.ttf');
  }
  
@font-face {
    font-family: 'Martian_Mono';
    src: url('../fonts/Martian_Mono/static/MartianMono-Regular.ttf');
  }

@font-face {
    font-family: 'Martian_Mono_SemiBold';
    src: url('../fonts/Martian_Mono/static/MartianMono-SemiBold.ttf');
  }

body, html {
    margin: 0;
    padding: 0;
    background-color: #B99DFF;
}

/* NAV */

#nav-container {
    position: absolute;
    z-index: 20;
    top: 1.2rem;
    background-color: #3C3C3C;
    width: 90vw;
    left: 50%;
    transform: translateX(-50%);
}

#nav {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    justify-content: space-between;
    z-index: 25;
}

#nav-right {
    display: flex;
    flex-direction: row;
    gap: 12px;
}

.nav-link > a:link, a:active, a:visited {
    text-decoration: none;
    color: #F5F5F5;
    font-family: 'VT323';
    font-size: 2.4rem;
}

#tess, #portfolio, #about {
    padding: 10px;
    display: inline-block;
    transform: perspective(1px) translateZ(0);
    position: relative;
    transition: color 0.25s;
    border-top: 5px solid #707070;
  }

  #portfolio {
    border-top: 5px solid #ECB9B8; 
  }

  #tess:before, #portfolio:before, #about:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    background: #ECB9B8;
    opacity: .65;
    transform: scaleY(0);    transform-origin: 0 0;
    transition: transform 0.2s ease-out;
  }

  #tess:hover:before, #about:hover:before, #portfolio:hover:before {
    transform: scaleY(1);
  }

  #tess:hover, #portfolio:hover, #about:hover {
    border-top: 5px solid #ECB9B8;
  }

  /* SOCIALS */

#social-container {
  position: absolute;
  z-index: 20;
  right: 1.6rem;
  bottom: 1.2rem;
  width: auto;
  height: auto;
}

#social {
  display: flex;
  flex-direction: row;
  gap: 1.6rem;
}

#social > svg {
  height: auto;
  width: 2.6rem;
}

/* COPYRITGHT */

#copyright {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: .7rem;
  z-index: 15;
  font-family: 'Martian_Mono';
  font-size: 11px;
  color: #D664FF;
}

/* CONTENT */

#content {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}



/* POPUP */

#popup-container {
  display: flex;
  flex-direction: column;
  border: 6px solid #ECB9B8;
  position: relative;
  z-index: 15;
  margin-top: 4rem;
  width: 72vw;
  height: 72vh;
  background-color: #3C3C3C;
}

#popup-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between; 
  align-items: center;   
  height: 32px;
  width: 100%;
  background-color: #ECB9B8;
  color: #F5E0E0;
  padding-bottom: 3px;
  font-family: 'Martian_Mono';
  font-size: .85rem;
}

#resize {
  display: flex;
  flex-direction: row;
}

#resize-box {
  height: 20px;
  width: 20px;
  background-color: #F5E0E0;
  margin-left: 6px;
}

#projects-container {
  height: 100%;
  width: 100%;
  overflow: hidden;
}

#projects {
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  height: 100%;
  width: 100%;
}

#projects-header {
  display: flex;
  flex-direction: column;
  justify-content: start;
}

#projects-header > h1 {
  color: #eee0f5;
  font-family: 'VT323';
  font-size: 3rem;
  margin: 0;
  padding-top: 2px;
  padding-bottom: 6px;
  padding-left: 12px;
}

#break {
  width: calc(100% - 24px);
  height: 2px;
  border-top: dashed 4px #eee0f5;
  margin-left: auto;
  margin-right: auto;
}

#projects-list {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  text-align: center;
}

#projects-list > h2 {
  color: #eee0f5;
  font-family: 'VT323';
  font-size: 2.4rem;
}

ul {
  list-style-type: none;
  padding: 0;
}

h3 {
  font-family: 'Martian_Mono_SemiBold';
  color: #eee0f5;
  font-style: italic;
  font-weight: 700;
}

li > a {
  color: #eee0f5;
  font-size: 1rem;
  font-family: 'Martian_Mono';
}

li > a:link {
  color: #eee0f5;
  font-size: 1rem;
  font-family: 'Martian_Mono';
}

li > a:active {
  color: #eee0f5;
  font-size: 1rem;
  font-family: 'Martian_Mono';
}

li > a:visited {
  color: #7c7c7c;
  font-size: 1rem;
  font-family: 'Martian_Mono';
}

li > p {
  color: #eee0f5;
  font-size: 14px;
  font-family: 'Martian_Mono';
  width: 82%;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  margin-bottom: 20px;
}

#poster-grid {
  margin-top: 45px;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

img {
  max-width: 700px;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

#poster-grid > img {
  max-width: 300px;
}

.left {
  margin-left: auto;
  margin-right: .75rem;
}

.right {
  margin-left: .75rem;
  margin-right: auto;
}

.bottom {
  margin-top: .75rem;
  margin-bottom: auto;
}

.top {
  margin-top: auto;
  margin-bottom: .75rem;
}